h1 {
  color: brown;
  border: solid 1px white;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

.container {
  background-color: beige;
}

input{
  width:500;
  background-color:rgb(247, 243, 242);
}

#btn{
  width: 150;
}
ul{
  list-style-type: none;
}

.inpcls{
  margin:0;
  display: inline;
}





